---
layout: page
title: Policarbonato Alveolar - REFLETIVO
permalink: /produtos/policarbonatos/policarbonato-alveolar-refletivo/
---

<div class="row">
	<div class="col col-3">
		<img src="{{ "/assets/img/policarbonatos/policarbonatos-10.jpg" | prepend: site.baseurl }}" alt="">
	</div>
	<div class="col col-9">
		<h2>PLACAS DE POLICARBONATO ALVEOLAR REFLETIVO</h2>
		<p>Para locais de clima quente e alta exposição ao sol, recomenda-se a utilização deste produto. Fabricado com pigmentação metalizada, estas placas possuem capacidade de reflexão de raios solares maior que placas comuns, inclusive os raios infra-vermelhos, o principal responsável pela transmissão do calor. Estas chapas contam também com uma transmissão de luz menor que a placas de Policarbonato Standard, resultando em um maior controle de temperatura e oferecendo um excelente conforto térmico.O Policarbonato Alveolar Refletivo recebe proteção UV na parte superior que será exposta ao sol, garantindo assim maior durabilidade e evitando o ressecamento, amarelecimento e descoloração da placa.</p>
		<a href="{{ site.url }}/pedidos-cotacoes-e-duvidas" class="btn">comprar</a>
	</div>
</div>

<div class="row">
	<div class="col col-4 policarbonatos-table">
		<h3>PESO M²</h3>
		<table>
			<tr>
				<td>Espessura</td>
				<td>Alveolar</td>
			</tr>
			<tr>
				<td>6 mm</td>
				<td>1,3 kg/m²</td>
			</tr>
		</table>
	</div>
	<div class="col col-4 policarbonatos-table">
		<h3>DIMENSÕES DAS PLACAS</h3>
		<table>
			<tr>
				<td>Espessura</td>
				<td>Largura</td>
				<td>Comprimento</td>
			</tr>
			<tr>
				<td>6 mm</td>
				<td>1,05</td>
				<td>6 m	</td>
			</tr>
			<tr>
				<td>6 mm</td>
				<td>2,10 m</td>
				<td>6 m</td>
			</tr>
		</table>
	</div>
	<div class="col col-4 policarbonatos-table">
		<h3>RAIO MÍNIMO DE CURVATURA</h3>
		<table>
			<tr>
				<td>Espessura</td>
				<td>Raio Mínimo</td>
			</tr>
			<tr>
				<td>6 mm</td>
				<td>1,05 m</td>
			</tr>
		</table>
	</div>
</div>

<div class="container">
	<h3>DISPONIBILIDADE DE CORES</h3>
</div>

<div class="row">
	<div class="col col-2">
		<div class="capa-cores-policarbonatos">
			<a href="#policarbonatos-11">
				<img src="{{ "/assets/img/policarbonatos/policarbonatos-11.jpg" | prepend: site.baseurl }}" alt="">
				<span><i class="icon-zoom-in"></i></span>
			</a>
		</div>
		<small>Azul</small>
	</div>
	<div class="col col-2">
		<div class="capa-cores-policarbonatos">
			<a href="#policarbonatos-12">
				<img src="{{ "/assets/img/policarbonatos/policarbonatos-12.jpg" | prepend: site.baseurl }}" alt="">
				<span><i class="icon-zoom-in"></i></span>
			</a>
		</div>
		<small>Verde</small>
	</div>
	<div class="col col-2">
		<div class="capa-cores-policarbonatos">
			<a href="#policarbonatos-13">
				<img src="{{ "/assets/img/policarbonatos/policarbonatos-13.jpg" | prepend: site.baseurl }}" alt="">
				<span><i class="icon-zoom-in"></i></span>
			</a>
		</div>
		<small>Prata</small>
	</div>
	<div class="col col-2">
		<div class="capa-cores-policarbonatos">
			<a href="#policarbonatos-14">
				<img src="{{ "/assets/img/policarbonatos/policarbonatos-14.jpg" | prepend: site.baseurl }}" alt="">
				<span><i class="icon-zoom-in"></i></span>
			</a>
		</div>
		<small>Pérola</small>
	</div>
	<div class="col col-2">
		<div class="capa-cores-policarbonatos">
			<a href="#policarbonatos-15">
				<img src="{{ "/assets/img/policarbonatos/policarbonatos-15.jpg" | prepend: site.baseurl }}" alt="">
				<span><i class="icon-zoom-in"></i></span>
			</a>
		</div>
		<small>Ouro</small>
	</div>
	<div class="col col-2">
		<div class="capa-cores-policarbonatos">
			<a href="#policarbonatos-16">
				<img src="{{ "/assets/img/policarbonatos/policarbonatos-16.jpg" | prepend: site.baseurl }}" alt="">
				<span><i class="icon-zoom-in"></i></span>
			</a>
		</div>
		<small>Cristal</small>
	</div>
</div>

<div class="container">
	<h3>Aplicação</h3>
</div>

<div class="row">
	<div class="col col-2">
		<div class="capa-cores-policarbonatos">
			<a href="#aplicacao-policarbonatos-11">
				<img src="{{ "/assets/img/policarbonatos/aplicacao-policarbonatos-11.jpg" | prepend: site.baseurl }}" alt="">
				<span><i class="icon-zoom-in"></i></span>
			</a>
		</div>
	</div>
	<div class="col col-2">
		<div class="capa-cores-policarbonatos">
			<a href="#aplicacao-policarbonatos-12">
				<img src="{{ "/assets/img/policarbonatos/aplicacao-policarbonatos-12.jpg" | prepend: site.baseurl }}" alt="">
				<span><i class="icon-zoom-in"></i></span>
			</a>
		</div>
	</div>
	<div class="col col-2">
		<div class="capa-cores-policarbonatos">
			<a href="#aplicacao-policarbonatos-13">
				<img src="{{ "/assets/img/policarbonatos/aplicacao-policarbonatos-13.jpg" | prepend: site.baseurl }}" alt="">
				<span><i class="icon-zoom-in"></i></span>
			</a>
		</div>
	</div>
	<div class="col col-2">
		<div class="capa-cores-policarbonatos">
			<a href="#aplicacao-policarbonatos-14">
				<img src="{{ "/assets/img/policarbonatos/aplicacao-policarbonatos-14.jpg" | prepend: site.baseurl }}" alt="">
				<span><i class="icon-zoom-in"></i></span>
			</a>
		</div>
	</div>
</div>

<div class="container">
	<h3>SEGMENTOS</h3>
	<p>Construção Civil, Indústria, Toldos e Coberturas, Estruturas Metalicas, Arquitetura, Comunicação Visual.</p>
</div>



{% for i in (11..16) %}
	<div class="lightbox" id="policarbonatos-{{ i }}">
  		<img src="/assets/img/policarbonatos/policarbonatos-{{ i }}.jpg" alt="Imagem ampliada dos Policarbonatos {{ i }}">
  		<a href="#_" class="lightbox-close">fechar</a>
	</div>
{% endfor %}

{% for i in (11..14) %}
	<div class="lightbox" id="aplicacao-policarbonatos-{{ i }}">
  		<img src="/assets/img/policarbonatos/aplicacao-policarbonatos-{{ i }}.jpg" alt="Imagem ampliada dos Policarbonatos {{ i }}">
  		<a href="#_" class="lightbox-close">fechar</a>
	</div>
{% endfor %}