---
layout: page
title: Policarbonato Compacto - STANDARD
permalink: /produtos/policarbonatos/policarbonato-compacto-standard/
---

<div class="row">
	<div class="col col-3">
		<img src="{{ "/assets/img/policarbonatos/policarbonatos-24.jpg" | prepend: site.baseurl }}" alt="">
	</div>
	<div class="col col-9">
		<h2>PLACAS DE POLICARBONATO COMPACTO STANDARD</h2>
		<p>Utilizados em projetos que buscam maior ganho em luminosidade, o Policarbonato Compacto Standard oferece também excelente resistência ao impacto. Pesando metade de um vidro de mesma espessura, diminui custos com logística, estrutura e instalação. São produzidos nas cores padrão de mercado possibilitando sua aplicação nos mais variados projetos. Devido a sua alta resistência a impacto pode ser utilizado desde coberturas até aplicações industriais. A placa possui proteção UV em ambos os lados, garantindo assim maior durabilidade e evitando o ressecamento, amarelecimento e descoloração da chapa.</p>
		<p>- Fáceis de manusear, usinar e instalar. - Até 50% mais leve comparado ao vidro de mesma espessura. - 300 vezes mais resistente ao impacto comparado ao vidro e 30 vezes mais que o acrílico.</p>
		<a href="{{ site.url }}/pedidos-cotacoes-e-duvidas" class="btn">comprar</a>
	</div>
</div>

<div class="row">
	<div class="col col-4 policarbonatos-table">
		<h3>PESO M²</h3>
		<table>
			<tr>
				<td>Espessura</td>
				<td>Compacto</td>
				<td>Vidro</td>
			</tr>
			<tr>
				<td>2 mm</td>
				<td>2,4 kg/m²</td>
				<td>5,0 kg/m²</td>
			</tr>
			<tr>
				<td>3 mm</td>
				<td>3,6 kg/m²</td>
				<td>7,50 kg/m²</td>
			</tr>
			<tr>
				<td>4 mm</td>
				<td>4,8 kg/m²</td>
				<td>10,0 kg/m²</td>
			</tr>
			<tr>
				<td>5 mm</td>
				<td>6,0 kg/m²</td>
				<td>12,5 kg/m²</td>
			</tr>
			<tr>
				<td>6 mm</td>
				<td>7,2 kg/m²</td>
				<td>15 kg/m²</td>
			</tr>
			<tr>
				<td>8 mm</td>
				<td>9,06 kg/m²</td>
				<td>20,0 kg/m²</td>
			</tr>
			<tr>
				<td>10 mm</td>
				<td>12,0 kg/m²</td>
				<td>25,0 kg/m²</td>
			</tr>
			<tr>
				<td>12 mm</td>
				<td>14,5 kg/m²</td>
				<td>30,0 kg/m²</td>
			</tr>
			<tr>
				<td>15 mm</td>
				<td>18,0 kg/m²</td>
				<td>37,44 kg/m²</td>
			</tr>
			<tr>
				<td>16 mm</td>
				<td>19,20 kg/m²</td>
				<td>39,93 kg/m²</td>
			</tr>
			<tr>
				<td>17 mm</td>
				<td>20,40 kg/m²</td>
				<td>42,43 kg/m²</td>
			</tr>	
		</table>
	</div>
	<div class="col col-4 policarbonatos-table">
		<h3>DIMENSÕES DAS PLACAS</h3>
		<table>
			<tr>
				<td>Espessura</td>
				<td>Largura</td>
				<td>Comprimento</td>
			</tr>
			<tr>
				<td>2 mm</td>
				<td>1,22 m</td>
				<td>2,44 m</td>
			</tr>
			<tr>
				<td>3 mm</td>
				<td>1,22 m</td>
				<td>2,44 m</td>
			</tr>
			<tr>
				<td>4 mm</td>
				<td>1,22 m</td>
				<td>4,90 m</td>
			</tr>
			<tr>
				<td>6 mm</td>
				<td>1,22 m</td>
				<td>6,00 m</td>
			</tr>
			<tr>
				<td>2 mm</td>
				<td>2,05 m</td>
				<td>1,00 m</td>
			</tr>
			<tr>
				<td>3 mm</td>
				<td>2,05 m</td>
				<td>2,00 m</td>
			</tr>
			<tr>
				<td>4 mm</td>
				<td>2,05 m</td>
				<td>3,00 m</td>
			</tr>
			<tr>
				<td>5 mm</td>
				<td>2,05 m</td>
				<td>4,00 m</td>
			</tr>
			<tr>
				<td>6 mm</td>
				<td>2,05 m</td>
				<td>5,00 m</td>
			</tr>
			<tr>
				<td>8 mm</td>
				<td>2,05 m</td>
				<td>6,00 m</td>
			</tr>
			<tr>
				<td>10 mm</td>
				<td>2,05 m</td>
				<td>6,00 m</td>
			</tr>
			<tr>
				<td>12 mm</td>
				<td>2,05 m</td>
				<td>3,00 m</td>
			</tr>
			<tr>
				<td>15 mm</td>
				<td>2,05 m</td>
				<td>1,00 m</td>
			</tr>
			<tr>
				<td>16 mm</td>
				<td>2,05 m</td>
				<td>1,00 m</td>
			</tr>
			<tr>
				<td>17 mm</td>
				<td>2,05 m</td>
				<td>1,00 m</td>
			</tr>
		</table>
	</div>
	<div class="col col-4 policarbonatos-table">
		<h3>RAIO MÍNIMO DE CURVATURA</h3>
		<table>
			<tr>
				<td>Espessura</td>
				<td>Raio Mínimo</td>
			</tr>
			<tr>
				<td>2 mm</td>
				<td>0,35 m</td>
			</tr>
			<tr>
				<td>3,00 mm</td>
				<td>0,53 m</td>
			</tr>
			<tr>
				<td>4,00 mm</td>
				<td>0,70 m</td>
			</tr>
			<tr>
				<td>5,00 mm</td>
				<td>0,87 m</td>
			</tr>
			<tr>
				<td>6,00 mm</td>
				<td>1,05 m</td>
			</tr>
			<tr>
				<td>8,00 mm</td>
				<td>1,40 m</td>
			</tr>
			<tr>
				<td>10,00 mm</td>
				<td>1,75 m</td>
			</tr>
			<tr>
				<td>12,00 mm</td>
				<td>2,10 m</td>
			</tr>
		</table>
	</div>
</div>

<div class="container">
	<h3>DISPONIBILIDADE DE CORES</h3>
</div>

<div class="row">
	<div class="col col-2">
		<div class="capa-cores-policarbonatos">
			<a href="#policarbonatos-25">
				<img src="{{ "/assets/img/policarbonatos/policarbonatos-25.jpg" | prepend: site.baseurl }}" alt="">
				<span><i class="icon-zoom-in"></i></span>
			</a>
		</div>
		<small>Fumê</small>
	</div>
	<div class="col col-2">
		<div class="capa-cores-policarbonatos">
			<a href="#policarbonatos-26">
				<img src="{{ "/assets/img/policarbonatos/policarbonatos-26.jpg" | prepend: site.baseurl }}" alt="">
				<span><i class="icon-zoom-in"></i></span>
			</a>
		</div>
		<small>Azul</small>
	</div>
	<div class="col col-2">
		<div class="capa-cores-policarbonatos">
			<a href="#policarbonatos-27">
				<img src="{{ "/assets/img/policarbonatos/policarbonatos-27.jpg" | prepend: site.baseurl }}" alt="">
				<span><i class="icon-zoom-in"></i></span>
			</a>
		</div>
		<small>Branco</small>
	</div>
	<div class="col col-2">
		<div class="capa-cores-policarbonatos">
			<a href="#policarbonatos-28">
				<img src="{{ "/assets/img/policarbonatos/policarbonatos-28.jpg" | prepend: site.baseurl }}" alt="">
				<span><i class="icon-zoom-in"></i></span>
			</a>
		</div>
		<small>Cristal</small>
	</div>
	<div class="col col-2">
		<div class="capa-cores-policarbonatos">
			<a href="#policarbonatos-29">
				<img src="{{ "/assets/img/policarbonatos/policarbonatos-29.jpg" | prepend: site.baseurl }}" alt="">
				<span><i class="icon-zoom-in"></i></span>
			</a>
		</div>
		<small>Bronze</small>
	</div>
	<div class="col col-2">
		<div class="capa-cores-policarbonatos">
			<a href="#policarbonatos-30">
				<img src="{{ "/assets/img/policarbonatos/policarbonatos-30.jpg" | prepend: site.baseurl }}" alt="">
				<span><i class="icon-zoom-in"></i></span>
			</a>
		</div>
		<small>Verde</small>
	</div>
</div>

<div class="container">
	<h3>Aplicação</h3>
</div>

<div class="row">
	<div class="col col-2">
		<div class="capa-cores-policarbonatos">
			<a href="#aplicacao-policarbonatos-16">
				<img src="{{ "/assets/img/policarbonatos/aplicacao-policarbonatos-16.jpg" | prepend: site.baseurl }}" alt="">
				<span><i class="icon-zoom-in"></i></span>
			</a>
		</div>
	</div>
	<div class="col col-2">
		<div class="capa-cores-policarbonatos">
			<a href="#aplicacao-policarbonatos-17">
				<img src="{{ "/assets/img/policarbonatos/aplicacao-policarbonatos-17.jpg" | prepend: site.baseurl }}" alt="">
				<span><i class="icon-zoom-in"></i></span>
			</a>
		</div>
	</div>
	<div class="col col-2">
		<div class="capa-cores-policarbonatos">
			<a href="#aplicacao-policarbonatos-18">
				<img src="{{ "/assets/img/policarbonatos/aplicacao-policarbonatos-18.jpg" | prepend: site.baseurl }}" alt="">
				<span><i class="icon-zoom-in"></i></span>
			</a>
		</div>
	</div>
	<div class="col col-2">
		<div class="capa-cores-policarbonatos">
			<a href="#aplicacao-policarbonatos-19">
				<img src="{{ "/assets/img/policarbonatos/aplicacao-policarbonatos-19.jpg" | prepend: site.baseurl }}" alt="">
				<span><i class="icon-zoom-in"></i></span>
			</a>
		</div>
	</div>
	<div class="col col-2">
		<div class="capa-cores-policarbonatos">
			<a href="#aplicacao-policarbonatos-20">
				<img src="{{ "/assets/img/policarbonatos/aplicacao-policarbonatos-20.jpg" | prepend: site.baseurl }}" alt="">
				<span><i class="icon-zoom-in"></i></span>
			</a>
		</div>
	</div>
	<div class="col col-2">
		<div class="capa-cores-policarbonatos">
			<a href="#aplicacao-policarbonatos-21">
				<img src="{{ "/assets/img/policarbonatos/aplicacao-policarbonatos-21.jpg" | prepend: site.baseurl }}" alt="">
				<span><i class="icon-zoom-in"></i></span>
			</a>
		</div>
	</div>
</div>

<div class="row">
	<div class="col col-2">
		<div class="capa-cores-policarbonatos">
			<a href="#aplicacao-policarbonatos-22">
				<img src="{{ "/assets/img/policarbonatos/aplicacao-policarbonatos-22.jpg" | prepend: site.baseurl }}" alt="">
				<span><i class="icon-zoom-in"></i></span>
			</a>
		</div>
	</div>
	<div class="col col-2">
		<div class="capa-cores-policarbonatos">
			<a href="#aplicacao-policarbonatos-23">
				<img src="{{ "/assets/img/policarbonatos/aplicacao-policarbonatos-23.jpg" | prepend: site.baseurl }}" alt="">
				<span><i class="icon-zoom-in"></i></span>
			</a>
		</div>
	</div>
	<div class="col col-2">
		<div class="capa-cores-policarbonatos">
			<a href="#aplicacao-policarbonatos-24">
				<img src="{{ "/assets/img/policarbonatos/aplicacao-policarbonatos-24.jpg" | prepend: site.baseurl }}" alt="">
				<span><i class="icon-zoom-in"></i></span>
			</a>
		</div>
	</div>
	<div class="col col-2">
		<div class="capa-cores-policarbonatos">
			<a href="#aplicacao-policarbonatos-25">
				<img src="{{ "/assets/img/policarbonatos/aplicacao-policarbonatos-25.jpg" | prepend: site.baseurl }}" alt="">
				<span><i class="icon-zoom-in"></i></span>
			</a>
		</div>
	</div>
</div>


{% for i in (25..30) %}
	<div class="lightbox" id="policarbonatos-{{ i }}">
  		<img src="/assets/img/policarbonatos/policarbonatos-{{ i }}.jpg" alt="Imagem ampliada dos Policarbonatos {{ i }}">
  		<a href="#_" class="lightbox-close">fechar</a>
	</div>
{% endfor %}

{% for i in (16..25) %}
	<div class="lightbox" id="aplicacao-policarbonatos-{{ i }}">
  		<img src="/assets/img/policarbonatos/aplicacao-policarbonatos-{{ i }}.jpg" alt="Imagem ampliada dos Policarbonatos {{ i }}">
  		<a href="#_" class="lightbox-close">fechar</a>
	</div>
{% endfor %}
