---
layout: page
title: Policarbonato Compacto - INFRA-RED
permalink: /produtos/policarbonatos/policarbonato-compacto-infra-red/
---

<div class="row">
	<div class="col col-3">
		<img src="{{ "/assets/img/policarbonatos/policarbonatos-33.jpg" | prepend: site.baseurl }}" alt="">
	</div>
	<div class="col col-9">
		<h2>PLACAS DE POLICARBONATO COMPACTO INFRA-RED</h2>
		<p>As placas de Infra-Red recebem uma camada co-extrusada de proteção, que é responsável por absorver os raios infra-vermelhos e depois dissipá-los, aliando assim o controle de temperatura à transmissão de luz solar. Devido às suas propriedades de isolamento, as placas economizam custos de energia durante o inverno e criam uma temperatura agradável.</p>
		<p>- Fáceis de manusear, usinar e instalar. - Até 50% mais leve comparado ao vidro de mesma espessura. - 300 vezes mais resistente ao impacto comparado ao vidro e 30 vezes mais que o acrílico.</p>
		<a href="{{ site.url }}/pedidos-cotacoes-e-duvidas" class="btn">comprar</a>
	</div>
</div>

<div class="row">
	<div class="col col-4 policarbonatos-table">
		<h3>PESO M²</h3>
		<table>
			<tr>
				<td>Espessura</td>
				<td>Compacto</td>
				<td>Vidro</td>
			</tr>
			<tr>
				<td>3,00 mm</td>
				<td>3,6 kg/m²</td>
				<td>7,5 kg/m²</td>
			</tr>
		</table>
	</div>
	<div class="col col-4 policarbonatos-table">
		<h3>DIMENSÕES DAS PLACAS</h3>
		<table>
			<tr>
				<td>Espessura</td>
				<td>Largura</td>
				<td>Comprimento</td>
			</tr>
			<tr>
				<td>3,00 mm</td>
				<td>2,05 m</td>
				<td>3,00 m</td>
			</tr>
			<tr>
				<td>3,00 mm</td>
				<td>2,05 m</td>
				<td>6,00 m</td>
			</tr>
		</table>
	</div>
	<div class="col col-4 policarbonatos-table">
		<h3>RAIO MÍNIMO DE CURVATURA</h3>
		<table>
			<tr>
				<td>Espessura</td>
				<td>Raio Mínimo</td>
			</tr>
			<tr>			
				<td>3,00 mm</td>
				<td>0,53 m</td>
			</tr>
		</table>
	</div>
</div>

<div class="container">
	<h3>DISPONIBILIDADE DE CORES</h3>
</div>

<div class="row">
	<div class="col col-2">
		<div class="capa-cores-policarbonatos">
			<a href="#policarbonatos-34">
				<img src="{{ "/assets/img/policarbonatos/policarbonatos-34.jpg" | prepend: site.baseurl }}" alt="">
				<span><i class="icon-zoom-in"></i></span>
			</a>
		</div>
		<small>Azul</small>
	</div>
	<div class="col col-2">
		<div class="capa-cores-policarbonatos">
			<a href="#policarbonatos-35">
				<img src="{{ "/assets/img/policarbonatos/policarbonatos-35.jpg" | prepend: site.baseurl }}" alt="">
				<span><i class="icon-zoom-in"></i></span>
			</a>
		</div>
		<small>Verde</small>
	</div>
</div>

<div class="container">
	<h3>Aplicação</h3>
</div>

<div class="row">
	<div class="col col-2">
		<div class="capa-cores-policarbonatos">
			<a href="#aplicacao-policarbonatos-31">
				<img src="{{ "/assets/img/policarbonatos/aplicacao-policarbonatos-31.jpg" | prepend: site.baseurl }}" alt="">
				<span><i class="icon-zoom-in"></i></span>
			</a>
		</div>
	</div>
	<div class="col col-2">
		<div class="capa-cores-policarbonatos">
			<a href="#aplicacao-policarbonatos-32">
				<img src="{{ "/assets/img/policarbonatos/aplicacao-policarbonatos-32.jpg" | prepend: site.baseurl }}" alt="">
				<span><i class="icon-zoom-in"></i></span>
			</a>
		</div>
	</div>
	<div class="col col-2">
		<div class="capa-cores-policarbonatos">
			<a href="#aplicacao-policarbonatos-33">
				<img src="{{ "/assets/img/policarbonatos/aplicacao-policarbonatos-33.jpg" | prepend: site.baseurl }}" alt="">
				<span><i class="icon-zoom-in"></i></span>
			</a>
		</div>
	</div>
	<div class="col col-2">
		<div class="capa-cores-policarbonatos">
			<a href="#aplicacao-policarbonatos-34">
				<img src="{{ "/assets/img/policarbonatos/aplicacao-policarbonatos-34.jpg" | prepend: site.baseurl }}" alt="">
				<span><i class="icon-zoom-in"></i></span>
			</a>
		</div>
	</div>
	<div class="col col-2">
		<div class="capa-cores-policarbonatos">
			<a href="#aplicacao-policarbonatos-35">
				<img src="{{ "/assets/img/policarbonatos/aplicacao-policarbonatos-35.jpg" | prepend: site.baseurl }}" alt="">
				<span><i class="icon-zoom-in"></i></span>
			</a>
		</div>
	</div>
</div>

{% for i in (34..35) %}
	<div class="lightbox" id="policarbonatos-{{ i }}">
  		<img src="/assets/img/policarbonatos/policarbonatos-{{ i }}.jpg" alt="Imagem ampliada dos Policarbonatos {{ i }}">
  		<a href="#_" class="lightbox-close">fechar</a>
	</div>
{% endfor %}

{% for i in (31..35) %}
	<div class="lightbox" id="aplicacao-policarbonatos-{{ i }}">
  		<img src="/assets/img/policarbonatos/aplicacao-policarbonatos-{{ i }}.jpg" alt="Imagem ampliada dos Policarbonatos {{ i }}">
  		<a href="#_" class="lightbox-close">fechar</a>
	</div>
{% endfor %}