---
layout: page
title: Policarbonato Alveolar - STANDARD
permalink: /produtos/policarbonatos/policarbonato-alveolar-standard/ 
---

<div class="row">
	<div class="col col-3">
		<img src="{{ "/assets/img/policarbonatos/policarbonatos-0.jpg" | prepend: site.baseurl }}" alt="">
	</div>
	<div class="col col-9">
		<h2>PLACAS DE POLICARBONATO ALVEOLAR STANDARD</h2>
		<p>Para ambientes onde se faz necessário o aproveitamento da luz natural, recomenda-se a utilização deste tipo de policarbonato. Produzidos em cores padrões de mercado, estas placas tem como maior objetivo possuir uma alta transmissão de luz para projetos de ambientes com luz própria.O Policarbonato Alveolar Standard recebe proteção UV na parte superior que será exposta ao sol, garantindo assim maior durabilidade, evitando o ressecamento, amarelecimento e descoloração da placa.</p>
		<a href="{{ site.url }}/pedidos-cotacoes-e-duvidas" class="btn">comprar</a>
	</div>
</div>

<div class="row">
	<div class="col col-4 policarbonatos-table">
		<h3>PESO M²</h3>
		<table>
			<tr>
				<td>Espessura</td>
				<td>Alveolar</td>
			</tr>
			<tr>
				<td>4 mm</td>
				<td>0,8 kg/m²</td>
			</tr>
			<tr>
				<td>6 mm</td>
				<td>1,3 kg/m²</td>
			</tr>
			<tr>
				<td>8 mm</td>
				<td>1,3 kg/m²</td>
			</tr>
			<tr>
				<td>10 mm</td>
				<td>1,7 kg/m²</td>
			</tr>
		</table>
	</div>
	<div class="col col-4 policarbonatos-table">
		<h3>DIMENSÕES DAS PLACAS</h3>
		<table>
			<tr>
				<td>Espessura</td>
				<td>Largura</td>
				<td>Comprimento</td>
			</tr>
			<tr>
				<td>4 mm</td>
				<td></td>
				<td>6 m</td>
			</tr>
			<tr>
				<td>6 mm</td>
				<td>1,05 m</td>
				<td>6 m</td>
			</tr>
			<tr>
				<td>8 mm</td>
				<td>2,10 m</td>
				<td>6 m</td>
			</tr>
			<tr>
				<td>10 mm</td>
				<td></td>
				<td>6 m</td>
			</tr>
		</table>
	</div>
	<div class="col col-4 policarbonatos-table">
		<h3>RAIO MÍNIMO DE CURVATURA</h3>
		<table>
			<tr>
				<td>Espessura</td>
				<td>Raio Mínimo</td>
			</tr>
			<tr>			
				<td>4 mm</td>
				<td>0,7 m</td>
			</tr>
			<tr>
				<td>6 mm</td>
				<td>1,05 m</td>
			</tr>
			<tr>
				<td>8 mm</td>
				<td>1,40 m</td>
			</tr>
			<tr>
				<td>10 mm</td>
				<td>1,75 m</td>
			</tr>
		</table>
	</div>
</div>

<div class="container">
	<h3>DISPONIBILIDADE DE CORES</h3>
</div>

<div class="row">
	<div class="col col-2">
		<div class="capa-cores-policarbonatos">
			<a href="#policarbonatos-1">
				<img src="{{ "/assets/img/policarbonatos/policarbonatos-1.jpg" | prepend: site.baseurl }}" alt="">
				<span><i class="icon-zoom-in"></i></span>
			</a>
		</div>
		<small>Fumê</small>
	</div>
	<div class="col col-2">
		<div class="capa-cores-policarbonatos">
			<a href="#policarbonatos-2">
				<img src="{{ "/assets/img/policarbonatos/policarbonatos-2.jpg" | prepend: site.baseurl }}" alt="">
				<span><i class="icon-zoom-in"></i></span>
			</a>
		</div>
		<small>Azul</small>
	</div>
	<div class="col col-2">
		<div class="capa-cores-policarbonatos">
			<a href="#policarbonatos-3">
				<img src="{{ "/assets/img/policarbonatos/policarbonatos-3.jpg" | prepend: site.baseurl }}" alt="">
				<span><i class="icon-zoom-in"></i></span>
			</a>
		</div>
		<small>Branco</small>
	</div>
	<div class="col col-2">
		<div class="capa-cores-policarbonatos">
			<a href="#policarbonatos-4">
				<img src="{{ "/assets/img/policarbonatos/policarbonatos-4.jpg" | prepend: site.baseurl }}" alt="">
				<span><i class="icon-zoom-in"></i></span>
			</a>
		</div>
		<small>Cristal</small>
	</div>
	<div class="col col-2">
		<div class="capa-cores-policarbonatos">
			<a href="#policarbonatos-5">
				<img src="{{ "/assets/img/policarbonatos/policarbonatos-5.jpg" | prepend: site.baseurl }}" alt="">
				<span><i class="icon-zoom-in"></i></span>
			</a>
		</div>
		<small>Bronze</small>
	</div>
	<div class="col col-2">
		<div class="capa-cores-policarbonatos">
			<a href="#policarbonatos-6">
				<img src="{{ "/assets/img/policarbonatos/policarbonatos-6.jpg" | prepend: site.baseurl }}" alt="">
				<span><i class="icon-zoom-in"></i></span>
			</a>
		</div>
		<small>Verde</small>
	</div>
</div>

<div class="row">
	<div class="col col-2">
		<div class="capa-cores-policarbonatos">
			<a href="#policarbonatos-7">
				<img src="{{ "/assets/img/policarbonatos/policarbonatos-7.jpg" | prepend: site.baseurl }}" alt="">
				<span><i class="icon-zoom-in"></i></span>
			</a>
		</div>
		<small>Vermelho</small>
	</div>
	<div class="col col-2">
		<div class="capa-cores-policarbonatos">
			<a href="#policarbonatos-8">
				<img src="{{ "/assets/img/policarbonatos/policarbonatos-8.jpg" | prepend: site.baseurl }}" alt="">
				<span><i class="icon-zoom-in"></i></span>
			</a>
		</div>
		<small>Laranja</small>
	</div>
	<div class="col col-2">
		<div class="capa-cores-policarbonatos">
			<a href="#policarbonatos-9">
				<img src="{{ "/assets/img/policarbonatos/policarbonatos-9.jpg" | prepend: site.baseurl }}" alt="">
				<span><i class="icon-zoom-in"></i></span>
			</a>
		</div>
		<small>Amarelo</small>
	</div>
</div>

<div class="container">
	<h3>Aplicação</h3>
</div>

<div class="row">
	<div class="col col-2">
		<div class="capa-cores-policarbonatos">
			<a href="#aplicacao-policarbonatos-1">
				<img src="{{ "/assets/img/policarbonatos/aplicacao-policarbonatos-1.jpg" | prepend: site.baseurl }}" alt="">
				<span><i class="icon-zoom-in"></i></span>
			</a>
		</div>
	</div>
	<div class="col col-2">
		<div class="capa-cores-policarbonatos">
			<a href="#aplicacao-policarbonatos-2">
				<img src="{{ "/assets/img/policarbonatos/aplicacao-policarbonatos-2.jpg" | prepend: site.baseurl }}" alt="">
				<span><i class="icon-zoom-in"></i></span>
			</a>
		</div>
	</div>
	<div class="col col-2">
		<div class="capa-cores-policarbonatos">
			<a href="#aplicacao-policarbonatos-3">
				<img src="{{ "/assets/img/policarbonatos/aplicacao-policarbonatos-3.jpg" | prepend: site.baseurl }}" alt="">
				<span><i class="icon-zoom-in"></i></span>
			</a>
		</div>
	</div>
	<div class="col col-2">
		<div class="capa-cores-policarbonatos">
			<a href="#aplicacao-policarbonatos-4">
				<img src="{{ "/assets/img/policarbonatos/aplicacao-policarbonatos-4.jpg" | prepend: site.baseurl }}" alt="">
				<span><i class="icon-zoom-in"></i></span>
			</a>
		</div>
	</div>
	<div class="col col-2">
		<div class="capa-cores-policarbonatos">
			<a href="#aplicacao-policarbonatos-5">
				<img src="{{ "/assets/img/policarbonatos/aplicacao-policarbonatos-5.jpg" | prepend: site.baseurl }}" alt="">
				<span><i class="icon-zoom-in"></i></span>
			</a>
		</div>
	</div>
	<div class="col col-2">
		<div class="capa-cores-policarbonatos">
			<a href="#aplicacao-policarbonatos-6">
				<img src="{{ "/assets/img/policarbonatos/aplicacao-policarbonatos-6.jpg" | prepend: site.baseurl }}" alt="">
				<span><i class="icon-zoom-in"></i></span>
			</a>
		</div>
	</div>
</div>

<div class="row">
	<div class="col col-2">
		<div class="capa-cores-policarbonatos">
			<a href="#aplicacao-policarbonatos-7">
				<img src="{{ "/assets/img/policarbonatos/aplicacao-policarbonatos-7.jpg" | prepend: site.baseurl }}" alt="">
				<span><i class="icon-zoom-in"></i></span>
			</a>
		</div>
	</div>
	<div class="col col-2">
		<div class="capa-cores-policarbonatos">
			<a href="#aplicacao-policarbonatos-8">
				<img src="{{ "/assets/img/policarbonatos/aplicacao-policarbonatos-8.jpg" | prepend: site.baseurl }}" alt="">
				<span><i class="icon-zoom-in"></i></span>
			</a>
		</div>
	</div>
	<div class="col col-2">
		<div class="capa-cores-policarbonatos">
			<a href="#aplicacao-policarbonatos-9">
				<img src="{{ "/assets/img/policarbonatos/aplicacao-policarbonatos-9.jpg" | prepend: site.baseurl }}" alt="">
				<span><i class="icon-zoom-in"></i></span>
			</a>
		</div>
	</div>
	<div class="col col-2">
		<div class="capa-cores-policarbonatos">
			<a href="#aplicacao-policarbonatos-10">
				<img src="{{ "/assets/img/policarbonatos/aplicacao-policarbonatos-10.jpg" | prepend: site.baseurl }}" alt="">
				<span><i class="icon-zoom-in"></i></span>
			</a>
		</div>
	</div>
</div>

<div class="container">
	<h3>SEGMENTOS</h3>
	<p>Construção Civil, Indústria, Toldos e Coberturas, Estruturas Metalicas, Arquitetura, Comunicação Visual.</p>
</div>



{% for i in (1..9) %}
	<div class="lightbox" id="policarbonatos-{{ i }}">
  		<img src="/assets/img/policarbonatos/policarbonatos-{{ i }}.jpg" alt="Imagem ampliada dos Policarbonatos {{ i }}">
  		<a href="#_" class="lightbox-close">fechar</a>
	</div>
{% endfor %}

{% for i in (1..10) %}
	<div class="lightbox" id="aplicacao-policarbonatos-{{ i }}">
  		<img src="/assets/img/policarbonatos/aplicacao-policarbonatos-{{ i }}.jpg" alt="Imagem ampliada dos Policarbonatos {{ i }}">
  		<a href="#_" class="lightbox-close">fechar</a>
	</div>
{% endfor %}