[class^=alert]
  display none
  position relative
  margin rem(20px) 0
  padding rem(10px)
  background-color #888
  text-align center
  color $white
  cursor pointer

[class$=success] 
  background-color #37cd57 !important

// [class$=notice] 
//   background-color #2788cf !important

// [class$=warning] 
//   background-color #f8a827 !important

[class$=error] 
  background-color #fb3e3e !important
