@keyframes roll
  0%
    transform rotate(0deg)
  100%
    transform rotate(360deg)
    
@keyframes lightbox
  from
    top rem(-100px)
  to
    top 0

body 
  font-family 'Open Sans', sans-serif
  font-size 16px
  color $black
  background-color $white
  
*,
:before,
:after 
  box-sizing border-box

.clearfix 
  *zoom 1

.clearfix:before,
.clearfix:after 
  content " "
  display table

.clearfix:after 
  clear both

img 
  max-width 100%
  border 0

ul 
  margin 0
  padding 0
  list-style none

a 
  text-decoration none
  color inherit

a:active,
a:hover 
  outline 0
  
.hidden
  display none

.obs, .obs-left
  display block
  font-size rem(12px)
  font-style italic 
  color #888

.obs
  text-align right

.obs-left
  text-align left
  
.browser-upgrade 
  margin 0
  padding .3em
  background-color #e32c13
  color $white
  text-align center