// Wrapper site
$container = rem(1080px)

// Grid
$margin-cols = 2%
$max-cols = 12
$width-cols = (100 - ($margin-cols * ($max-cols - 1))) / $max-cols

// Colors
$white = #fff
$yellow = #ffff00
$grey = #7e7c7c
$lgrey = #eee
$black = #000

$transition = all .25s ease